<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>RoundyDock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>alt.blxck.roundy</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>alt.blxck.roundy/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Appearance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>20</real>
			<key>defaults</key>
			<string>alt.blxck.roundy</string>
			<key>key</key>
			<string>cornerRadius</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>50</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>alt.blxck.roundy/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>RoundyDock by blxckfvde</string>
		</dict>
	</array>
	<key>title</key>
	<string>RoundyDock</string>
</dict>
</plist>
